<h3> Selecione um Estado: </h3>

<%= form_for :state, url: search_path do |f| %>
  <%= select_tag :name, options_for_select(State::ACRONYM, selected: @selected) %>
  <%= f.submit "Search" %>
<% end %>

<% if @state %>
  <h1> <%= "Taxa de incidência da dengue: #{@state.name}" %> </h1>
  <%= column_chart(@state.chart_formated) %>
<% end %>
